{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% if company %}{{ company.company_name }}{% else %}My Application{% endif %}  - Remove Agent
{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/confirmation_form.css' %}">

<div class="form-container">
    <div class="heading-bar">
      <div class="heading-bar-svg">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash-2"><path d="M3 6h18"/><path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"/><path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"/><line x1="10" x2="10" y1="11" y2="17"/><line x1="14" x2="14" y1="11" y2="17"/></svg>        
      </div>
      
      <div class="heading-bar-text">
          <span class="primary-text">Remove Agent</span>
          <span class="secondary-text">Permanently remove this agent from the team.</span>
      </div>
    </div>

    <form class="confirmation-form" method="post">
        {% csrf_token %}

        <h1>Remove Agent</h1>
        <p>Are you sure you want to remove "{{ agent.get_full_name }}" from your team {{ team.name }}?</p>

        <div class="bottom-buttons">
          <button type="submit" >Yes, Remove</button>
          <a href="{% url 'staff_list' %}" class="cancel-btn">Cancel</a>
        </div>
    </form>

</div>

{% endblock %}
