:root {
    --gap-size: 0.5rem;
    --padding-size: 8px;
    --border-radius: 8px;
    --font-size-heading: 2.5rem;
    --font-size-subheading: 1rem;
    --font-size-secondary: 0.775rem;
    --button-padding: 10px 20px;
    --font-size-cancel: 0.875rem;
}

.form-container {
    margin: 0 auto;
}

.heading-bar {
    margin: 0;
    padding-bottom: 5px;
    color: var(--heading-text-color);
    font-size: var(--font-size-heading);
    display: flex;
    align-items: center;
    gap: var(--gap-size);
    background-color: var(--hover-color);
    padding: var(--padding-size);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    font-weight: 500;
}

.heading-bar span:first-of-type {
    color: var(--heading-text-color);
    font-size: var(--font-size-subheading);
    margin-bottom: 2px;
}

.heading-bar span:last-of-type {
    color: var(--secondary-text);
    font-size: var(--font-size-secondary);
}

.heading-bar-text {
    display: flex;
    flex-direction: column;
}

.confirmation-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.confirmation-form h2,
.confirmation-form p {
    margin-left: 10px;
}

.confirmation-form h2 {
    margin: 30px 0 5px;
}

.confirmation-form p {
    margin: 0 0 30px;
}

.bottom-buttons {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.bottom-buttons button {
    background-color: var(--button-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: var(--button-padding);
    cursor: pointer;
    transition: background-color var(--transition);
}

.bottom-buttons button:hover {
    background-color: var(--button-hover-color);
}

.cancel-btn {
    text-decoration: none;
    font-size: var(--font-size-cancel);
    color: var(--error-color);
    border: 1px solid var(--error-color);
    border-radius: 4px;
    padding: 8px 20px;
    cursor: pointer;
    margin-left: 10px;
}
