:root {
    --gap-size: 0.5rem;
    --padding-size: 8px;
    --border-radius: 8px;
    --font-size-heading: 2.5rem;
    --font-size-subheading: 1rem;
    --font-size-secondary: 0.775rem;
    --button-padding: 10px 20px;
    --font-size-cancel: 0.875rem;
    --highlight-color: var(--button-color);
}

.form-container {
    margin: 0 auto;
}

.heading-bar {
    margin: 0;
    padding: var(--padding-size) 0 5px;
    color: var(--heading-text-color);
    font-size: var(--font-size-heading);
    display: flex;
    align-items: center;
    gap: var(--gap-size);
    background-color: var(--hover-color);
    padding: var(--padding-size);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    font-weight: 500;
}

.heading-bar span:first-of-type {
    color: var(--heading-text-color);
    font-size: var(--font-size-subheading);
    margin-bottom: 2px;
}

.heading-bar span:last-of-type {
    color: var(--secondary-text);
    font-size: var(--font-size-secondary);
}

.heading-bar-text {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    margin-bottom: 5px;
}

.form-group {
    flex: 1;
    margin-right: 10px;
}

#create-form {
    position: relative;
    margin: 20px 80px 0 20px;
}

#create-form p,
#create-form label {
    display: none;
}

#create-form input,
#create-form select,
#create-form textarea {
    width: 100%;
    padding: var(--padding-size);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    outline: none;
    transition: var(--transition);
    margin-top: 10px;
}

#create-form input:focus,
#create-form select:focus,
#create-form textarea:focus {
    border-color: var(--highlighted-border-color);
}

#create-form textarea {
    resize: vertical;
    height: 20px;
    font-family: sans-serif;
    margin-top: 20px;
}

#create-form button {
    position: absolute;
    right: 0;
    margin-right: 100px;
    background-color: var(--button-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: var(--button-padding);
    cursor: pointer;
    transition: background-color var(--transition);
    width: max-content;
}

#create-form button:hover {
    background-color: var(--button-hover-color);
}

#create-form h4,
#create-form ul {
    margin: 0;
}

#create-form li {
    margin-bottom: 5px;
}

.text-muted {
    font-size: var(--font-size-secondary);
    color: var(--secondary-text);
    margin-left: 5px;
    margin-top: 4px;
}

.cancel-btn {
    text-decoration: none;
    font-size: var(--font-size-cancel);
    color: var(--error-color);
    border: 1px solid var(--error-color);
    border-radius: 4px;
    padding: 8px 20px;
    cursor: pointer;
    position: absolute;
    right: inherit;
    margin-left: 10px;
}

.bottom-buttons {
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
    margin-top: 20px;
}

.Reset_Container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.Reset_Container h4 {
    color: var(--heading-text-color);
    margin-bottom: 5px !important;
}

#id_password_helptext {
    font-size: var(--font-size-cancel);
    color: var(--secondary-text);
    width: max-content;
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

#id_password_helptext > svg {
    color: var(--success-color);
}

.buttons {
    position: absolute;
    right: 0;
    display: flex;
    gap: 1rem;
    width: 100%;
}

.reset_password_a {
    color: var(--error-color);
    font-size: 1rem;
    text-transform: capitalize;
}

.autocomplete-items {
    position: absolute;
    z-index: 99;
    background-color: var(--background-color);
    max-height: 150px;
    overflow-y: auto;
    width: 105%;
    border: 1px solid var(--border-color);
}

.autocomplete-items::-webkit-scrollbar {
    width: 5px;
}

.autocomplete-items::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.autocomplete-items::-webkit-scrollbar-thumb:hover {
    background: #999;
    cursor: pointer;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    font-size: var(--font-size-cancel);
    border-bottom: 1px solid var(--border-color);
}

.autocomplete-items div strong {
    color: var(--highlight-color);
    font-weight: bold;
}

.autocomplete-items div:hover {
    background-color: var(--hover-color);
}
